/* 
    Document   : logs_logtable
    Created on : May 27, 2013, 6:37:50 PM
    Author     : Quinn
    Description:
        Purpose of the stylesheet follows.
*/
table{
    display:block;
    margin:auto;
    margin-top:20px;
    border:3px solid #251f55;
    background-color:white;
    padding:15px 10px;
    border-collapse:collapse;
}

tr, td {
    padding:5px 20px;
}

thead td{
    font-weight:bold;
    font-size:115%;
}

#col_titles td, #no_logs_msg {
    padding-top:20px;
    padding-bottom:10px;
}

#user_info {
    border-bottom:1px solid #cccccc;
    font-size:125%;
}

#overall_total {
    font-weight:bold;
    padding-top:15px;
}

#update_button{
    padding-top:5px;
    padding-bottom:5px;
}

.user_info {
  margin-bottom:20px;
}

.divider {
  padding-bottom:5px;
}

.head > h3 {
  display:inline;
}

.day {
  min-width:75px;
  font-weight:bold;
  float:left;
  padding:5px;
}

.log_display .day {
  min-width:75px;
  padding: 5px;
}

.log_range {
  min-width:200px;
  margin-right:20px;
  padding-left:5px;
}

.log_time {
  min-width:100px;
  margin-right:20px;
  padding:3px;

}

.controls {
  padding:5px;
  min-width:40px;
  padding-left:5px;
}

.log_display .controls, .add_log .controls {
  font-size:80%;
}

.log_display, .add_log {
  padding:2px 5px;
}

.day_display {
  border:1px solid #251f55;
  margin-bottom:5px;
}

.a_log {
  margin-left:85px;
  padding:0px 3px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  font-size:90%;
}

.a_log_head {
  margin-left:85px;
  padding: 0px 3px;
}

.controls a {
  margin-right:5px;
}

p.disabled_link {
  display:inline;
  color:grey;
  text-decoration:none;
  margin-right:5px;
}

.total_display{
  margin-top:20px;
  margin-left:5px;
}

.name {
  margin-bottom:10px;
  border:1px solid #251f55;
  padding:3px;
  text-align:center;
}

.time_input {
  display:inline;
  max-width:5em;
}

.log_form_spn p , .add_log_form_spn p{
  display:inline;
}

.log_range {
  padding:3px;
}

.total_display_wrapper{
  margin:10px 2px;
  padding:5px;
  border:1px solid #cccccc;
}

.pt_name {
  display:inline-block;
  min-width:250px;
}