/* 
    Document   : layout
    Created on : May 18, 2013, 5:12:00 PM
    Author     : Quinn
    Description:
        Used to setup the main layout for the TimeTrack app
*/


/*  TEMPLATE STYLES  */
body {
    background-color:#c3bfe7;
    color:#251f55;
}

#navigation {
    margin-bottom:10px;
}

#navigation > ul{
    min-width:310px;
    max-width:960px;
    height:25px;
    display:block;
    background-color:#251f55;
}

#navigation li:first-child {
    padding-left:15px;
}

#navigation li {
    display:inline;
    padding-right:15px;
}

#navigation a {
    line-height:25px;
    color:white;
    text-decoration:none;
    outline-width:0;
    font-size:12px;
    font-weight:bold;
}

#container {
    position:relative;
    margin:auto;
    top:10px;
}

#header, #container {
    min-width:310px;
    max-width:960px;
    margin:auto;
}

#header {
    border:3px solid #251f55;
    height:100px;
    background-color:#ffffff;
}

#header h1{
    position:relative;
    top:35px;
    right:50px;
    text-align:right;
}

h3 {
    font-weight:bold;
}

.hidden {
  display:none;
}

.invisible {
  visibility: hidden;
}

/*  LOGIN PAGE STYLES  */
#login_box {
    position:relative;
    top:10px;
    padding:20px 34px 20px 20px;
    max-width:320px;
    min-width:240px;
    margin:auto;
    border-radius:15px;
    background:white;
}

#login_box label {
    font-weight:bold;
    margin-left:5px;
    cursor:default;
}
#login_box input{
    display:block;
    margin:8px 5px 8px 5px;
    height:25px;
    width:100%;
}

#username {
  margin-bottom:15px;
}

#submit {
    text-align:center;
}
#submit {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:70px;
    height:25px;
    padding:0px 5px;
}
#login_box #error {
    margin-left:5px;
    margin-top:8px;
    margin-bottom:15px;
    font-size:75%;
    color:red;
}

/*   Black button styling  */
a.black_button {
    padding:5px;
    border:2px solid #251f55;
    background-color:#251f55;
    color:white;
    font-weight:bold;
    font-size:80%;
    text-decoration:none;
}

a.black_button:hover {
    background-color:#666666;
    cursor:pointer;
}

a.black_button:active {
    background-color:#251f55;
    cursor:pointer;
}

button.black_button {
    padding:5px;
    background-color:#251f55;
    border:2px solid #251f55;
    color:white;
    font-weight:bold;
    font-size:80%;
}

button.black_button:hover {
    background-color:#666666;
    cursor:pointer;
}

button.black_button:active {
    background-color:#251f55;
}

input.black_button {
    background-color:#251f55;
    color:white;
    padding:5px;
    font-weight:bold;
    border:2px solid #251f55;
}

input.black_button:hover {
    cursor:pointer;
    background-color:#666666;
}

input.black_button:active {
    background-color:#251f55;
}

/*     White Button Styling     */
input.white_button {
    background-color:white;
    color:#251f55;
    padding:5px;
    font-weight:bold;
    border:2px solid #251f55;
    border-radius:4px;
    cursor:pointer;
}

input.white_button:hover {
    background-color:#cccccc;
}

input.white_button:active {
    background-color:white;
}


/*     Display Styling    */
div.rounded_box {
    position:relative;
    min-width:200px;
    max-width:400px;
    border:3px solid #251f55;
    border-radius:15px;
    background-color:white;
    padding:15px;
    margin:auto;
}

div.content_box {
    position:relative;
    min-width:300px;
    max-width:800px;
    border:3px solid #251f55;
    background-color:white;
    padding:15px;
    margin-left:auto;
    margin-right:auto;
}

div.content_wrapper {
    min-width:300px;
    max-width:800px;
    position:relative;
    margin:auto;
}

div.error_wrapper {
    text-align:left;
    margin:2px 0px 20px 0px;
}

div.error_wrapper p{
    color:red;
    font-size:75%;
}

.info_table {
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #cccccc;
    border-collapse:collapse;
}

.info_table td{
    padding:5px 10px;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    font-size:85%;
}

.info_table .label {
    font-weight:bold;
    text-align:right;
}




/*     Form Styles    */
div.field_set {
    position:relative;
    display:block;
    margin:5px;
}

div.field_set input {
    margin-right:15px;
    margin-bottom:5px;
    width:95%;
    padding:5px;
}

div.field_set label {
    display:block;
    font-weight:bold;
    cursor:default;
}

div.field_set select {
    width:70%;
    padding:3px;
    margin-bottom:5px;
}

.instructions p {
    font-size:75%;
    font-weight:bold;
}

.instructions p, .instructions li{
    padding:5px 0px;
}

.instructions li{
    position:relative;
    left:1em;
    font-size:80%;
}

.instructions ol {
    font-size:90%;
    margin:10px;
}

.grey_box{
    border:1px solid #cccccc;
    margin:auto;
    text-align:center;
}

/*   Time Picker    */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 10px; margin-bottom: -10px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }