/* 
    Document   : user_reset_pass
    Created on : May 25, 2013, 10:36:55 PM
    Author     : Quinn
    Description:
        Purpose of the stylesheet follows.
*/

#instruction_box {
    margin:15px;
}

#reset_box {
    position:relative;
    margin-left:15px;
    margin-right:15px;
}

