/* 
    Document   : user_add
    Created on : May 25, 2013, 8:53:00 PM
    Author     : Quinn
    Description:
        Purpose of the stylesheet follows.
*/

/*      Add User Styles      */
#user_info {
    position:absolute;
    min-width:300px;
    max-width:800px;    
    left:0;
    width:60%;
}

#direction_box {
    position:absolute;
    right:0px;
    margin-left:67%;
    border:3px solid black;
    border-radius:15px;
    padding:15px;
    padding-left:30px;
    float:left;
}

#direction_box h3 {
    margin-bottom:10px;
}

#user_info .error {
    font-size:75%;
    color:red;
    margin-bottom:20px;
}