/* 
    Document   : users_add_success.css
    Created on : May 25, 2013, 9:02:24 PM
    Author     : Quinn
    Description:
        Purpose of the stylesheet follows.
*/
#success_message h1{
    margin-bottom:10px;
}

#success_message p {
    margin:10px;
}

#password_info {
    border:1px solid #cccccc;
    margin:auto;
    text-align:center;
}




